nvim/.config/nvim/plugin/packer_compiled.lua

# fish
fish/.config/fish/fishd.*
fish/.config/fish/config.fish.backup
fish/.config/fish/fish_history
fish/.config/fish/fish_variables

# Since I use fisher
fish/.config/fish/functions/*
fish/.config/fish/completions/*
fish/.config/fish/conf.d/*
# Only show user scripts
!fish/.config/fish/functions/profile

