*{
    font-family: JetbrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    color:#e0def4;
    background-color: #232136;
    border-radius: 8px;
}

#workspaces{
    font-size:12px;
    padding: 0 5px;
    padding-left:11px;
    margin: 5px;
    background-color:#1f1d2e;
    border-radius:99px;
}

#workspaces button{
    border-radius: 99px;
    margin-right: 10px;
    font-weight: bolder;
    background-color: #181818;
    color: #ffffff;
}

#workspaces button.active, #workspaces button.focused{
    background: #c4a7e7;
    font-size:14px;
}

#custom-powermenu {
    margin-left: 11px;
    padding: 0 10px;
}
#custom-mic {
    padding: 0 10px;
}

#tray,
#mpd,
#custom-weather,
#custom-powermenu,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#custom-mic,
#custom-image,
#bluetooth,
#clock,
#network {
    padding: 0 10px;
    font-size:14px;
}

#bluetooth .connected {
    color: #ebbcba;
}

#image-test {
    padding: 10px;
}

#submap {
    background-color: #f6c175;
    color: #191724;
    border-radius: 15px;
    margin: 5px 0;
    padding: 0 10px;
}



